body {
    display: flex;
    flex-direction: column;    /* Cambia a dirección de columna */
    align-items: center;       /* Centra horizontalmente */
    justify-content: center;    /* Centra verticalmente */
    margin: 0;
    background-color: #000000; /* Tono gris claro */
    height: 100vh; /* Mantiene la altura de la ventana */
}

.cabecera {
    font-family: 'Press Start 2P', cursive; /* Usar la fuente correctamente */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    font-size: 25px; /* Tamaño inicial más pequeño */
}