body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #000000;
    height: 100vh;
}

.cabecera {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    font-size: 25px;
    color: white; /* Color de respaldo por si el JS falla */
}